<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789770835327-m37i088uqit13kc0nume21rd7j69616c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789770835327-m37i088uqit13kc0nume21rd7j69616c</string>
	<key>API_KEY</key>
	<string>AIzaSyBGx_McvtAmMsRIZbdKHIj_hcr-vY2HpqU</string>
	<key>GCM_SENDER_ID</key>
	<string>789770835327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>InstaCam</string>
	<key>PROJECT_ID</key>
	<string>camera-60fe8</string>
	<key>STORAGE_BUCKET</key>
	<string>camera-60fe8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789770835327:ios:9198d48272d3190512f64a</string>
	<key>DATABASE_URL</key>
	<string>https://camera-60fe8.firebaseio.com</string>
</dict>
</plist>